[submodule "pack/mypackages/start/sensible"]
	path = pack/mypackages/start/sensible
	url = https://github.com/tpope/vim-sensible.git
	branch = master
[submodule "pack/mypackages/start/tagbar"]
	path = pack/mypackages/start/tagbar
	url = https://github.com/majutsushi/tagbar.git
	branch = master
[submodule "pack/mypackages/start/solarized"]
	path = pack/mypackages/start/solarized
	url = https://github.com/altercation/vim-colors-solarized.git
	branch = master
[submodule "pack/mypackages/start/commentary"]
	path = pack/mypackages/start/commentary
	url = https://github.com/tpope/vim-commentary.git
	branch = master
[submodule "pack/mypackages/start/abolish"]
	path = pack/mypackages/start/abolish
	url = https://github.com/tpope/vim-abolish.git
	branch = master
[submodule "pack/mypackages/start/sleuth"]
	path = pack/mypackages/start/sleuth
	url = https://github.com/tpope/vim-sleuth.git
	branch = master
[submodule "pack/mypackages/start/surround"]
	path = pack/mypackages/start/surround
	url = https://github.com/tpope/vim-surround.git
	branch = master
[submodule "pack/mypackages/start/repeat"]
	path = pack/mypackages/start/repeat
	url = https://github.com/tpope/vim-repeat.git
	branch = master
[submodule "pack/mypackages/start/qml"]
	path = pack/mypackages/start/qml
	url = https://github.com/peterhoeg/vim-qml.git
	branch = master
[submodule "pack/mypackages/start/ctrlp"]
	path = pack/mypackages/start/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
	branch = master
[submodule "pack/mypackages/start/vinegar"]
	path = pack/mypackages/start/vinegar
	url = https://github.com/tpope/vim-vinegar.git
	branch = master
[submodule "pack/mypackages/start/windowswap"]
	path = pack/mypackages/opt/windowswap
	url = https://github.com/wesQ3/vim-windowswap.git
	branch = master
[submodule "pack/mypackages/start/lightline"]
	path = pack/mypackages/start/lightline
	url = https://github.com/itchyny/lightline.vim.git
	branch = master
[submodule "pack/mypackages/start/fugitive"]
	path = pack/mypackages/start/fugitive
	url = https://github.com/tpope/vim-fugitive.git
	branch = master
[submodule "pack/mypackages/start/markdown"]
	path = pack/mypackages/start/markdown
	url = https://github.com/tpope/vim-markdown.git
	branch = master
[submodule "pack/mypackages/start/easygrep"]
	path = pack/mypackages/start/easygrep
	url = https://github.com/dkprice/vim-easygrep.git
	branch = master
[submodule "pack/mypackages/start/qfenter"]
	path = pack/mypackages/opt/qfenter
	url = https://github.com/yssl/QFEnter.git
	branch = master
[submodule "pack/mypackages/start/sneak"]
	path = pack/mypackages/start/sneak
	url = https://github.com/justinmk/vim-sneak.git
	branch = master
[submodule "pack/mypackages/start/obsession"]
	path = pack/mypackages/start/obsession
	url = https://github.com/tpope/vim-obsession.git
	branch = master
[submodule "pack/mypackages/start/speeddating"]
	path = pack/mypackages/start/speeddating
	url = https://github.com/tpope/vim-speeddating.git
	branch = master
